################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/YourStory.UI/node_modules

/YourStory.API/bin
/YourStory.API/obj

/YourStory.UI/build
