.ibm-duo-u--bg-lazy-load--processed {
    direction: ltr;
    color: #323232;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    box-sizing: inherit;
    font-family: 'IBM Plex Sans', ibm-plex-sans, 'Helvetica Neue', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    background-color: #f4f4f4;
    /* background-color: #e0e0e0; */
}

.image-side {
    width: 800px;
    height: 30%;
    float: right;
}

.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

