.leadspace-2 {
    margin-top: 5rem !important;
    margin-bottom: 4rem !important;
}


.bx--form-item.bx--checkbox-wrapper:first-of-type {
    margin-top: 0.1875rem;
}

.bx--form-item-checkbox {
    font-size: var(--cds-body-short-01-font-size,.875rem);
    font-weight: var(--cds-body-short-01-font-weight,400);
    line-height: var(--cds-body-short-01-line-height,1.29);
    letter-spacing: var(--cds-body-short-01-letter-spacing,.16px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

input[type="checkbox"] {
    cursor: default;
    appearance: auto;
}

.bx--checkbox {
    overflow: hidden;
    width: 20px;
    height: 20px;
}

.bx--checkbox-label {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    vertical-align: initial;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    position: relative;
    display: -webkit-flex;
    display: flex;
    min-height: 1.5rem;
    padding: 0.15rem 0 0 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    letter-spacing: .16px;
    cursor: pointer;
}

.bx--checkbox-label-text {
    padding-left: 0.375rem;
}

.bx--form-item {
    margin-bottom: 0;
}

.btn-primary:hover {
    background-color: #000 !important;
}
